@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fa-ti abonament smecher</h1>
    <p>Doar astazi ai aproape 0% reducere la toata grila in limita stocului disponibil</p>
</div>
